{
    "sourceType": "unambiguous",
    "presets": [
        ["@babel/preset-env", { "targets": { "chrome": 100, "esmodules": true} }],
        "@babel/preset-typescript",
        "@babel/preset-react"
    ],
    "plugins": [
        "@babel/proposal-object-rest-spread",
        ["@babel/plugin-transform-react-jsx", { "extensions": [".jsx", ".js"] }]
    ],
    "exclude": "node_modules/**"
}
