{
    "presets": [
        ["@babel/preset-env", { "targets": { "chrome": 100 } }],
        "@babel/preset-typescript",
        "@babel/preset-react"
    ],
    "plugins": [
        "@babel/plugin-transform-react-display-name",
        "@babel/proposal-object-rest-spread",
        ["@babel/plugin-transform-react-jsx", { "extensions": [".jsx", ".js", ".ts", ".tsx"] }]
    ],
    "exclude": "node_modules/**"
}
