{
    "presets": ["@babel/preset-react", "@babel/preset-typescript"],
    "plugins": [
        "@babel/plugin-transform-react-display-name",
        "@babel/proposal-object-rest-spread",
        "@babel/plugin-proposal-class-properties",
        ["@babel/plugin-transform-react-jsx", { "extensions": [".jsx", ".js", ".ts", ".tsx", ".json"] }]
    ],
    "exclude": "node_modules/**"
}
