{
    "root": true,
    "env": {
        "browser": true,
        "es2021": true,
        "es6": true,
        "jest": true
    },
    "extends": [
        "react-app",
        "react-app/jest",
        "standard-with-typescript",
        "plugin:react/recommended",
        "plugin:storybook/recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "prettier"
    ],
    "overrides": [
        {
            "files": ["src/**/*.stories.@(ts|tsx|js|jsx|mjs|cjs)"],
            "rules": {
                "import/no-anonymous-default-export": "off",
                "storybook/hierarchy-separator": "error",
                "storybook/default-exports": "off"
            }
        }
    ],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaFeatures": { "jsx": true },
        "ecmaVersion": "latest",
        "sourceType": "module",
        "project": "./tsconfig.json"
    },
    "plugins": ["react", "jest-dom", "testing-library", "@typescript-eslint", "prettier"],
    "rules": {
        "@typescript-eslint/no-confusing-void-expression": 0,
        "react-hooks/exhaustive-deps": "warn",
        "import/no-extraneous-dependencies": ["error", { "devDependencies": ["**/*.stories.*", "**/.storybook/**.*"] }],
        "@typescript-eslint/ban-ts-comment": 0,
        "@typescript-eslint/prefer-nullish-coalescing": 0,
        "@typescript-eslint/strict-boolean-expressions": 0,
        "@typescript-eslint/strict-boolean-expression": 0,
        "@typescript-eslint/restrict-plus-operands": 0,
        "linebreak-style": 0,
        "require-default-props": 0,
        "react/jsx-no-bind": 0,
        "react/jsx-boolean-value": 0,
        "react/jsx-props-no-spreading": 0,
        "react/jsx-filename-extension": 0,
        "import/prefer-default-export": 0,
        "no-underscore-dangle": 0,
        "no-unsafe-optional-chaining": 0,
        "func-names": 0,
        "jsx-a11y/label-has-associated-control": 0,
        "jsx-a11y/click-events-have-key-events": 0,
        "jsx-a11y/no-static-element-interactions": 0,
        "prettier/prettier": 0,
        "import/extensions": [
            "error",
            "ignorePackages",
            {
                "js": "never",
                "jsx": "never",
                "ts": "never",
                "tsx": "never"
            }
        ]
    },
    "settings": {
        "import/resolver": {
            "jsconfig": {
                "config": "./tsconfig.json",
                "extensions": [".json", ".js", ".jsx", ".ts", ".tsx"]
            }
        }
    }
}
